* {
  box-sizing: border-box;
  margin: 0 auto;
}

.hidden {
  display: none !important;
}

.absolute {
  position: absolute;
}

.text-center {
  text-align: center;
}

.center-element {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

.justify-space {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.nav-search {
  display: none;
}

.search-icon {
  display: none;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  .memory-form {
    padding: 0 5rem;
    height: 35rem;
    margin-top: 1.25rem;
  }

  .card {
    width: 75%;
    border-radius: 3rem;
    background-color: var(--dark-color-a);
    position: relative;
    margin-bottom: 2rem;
    box-shadow: 9px 9px 20px 1px rgb(0 0 0 / 66%);
  }

  .event-image img {
    height: 38rem;
    width: 100%;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    object-fit: cover;
  }

  .memory-image img {
    object-fit: cover;
    height: 38rem;
  }

  .event-date {
    margin-top: 34rem;
  }

  footer {
    visibility: hidden;
  }

  .add-comment {
    position: relative;
    bottom: 3rem;
  }

  .modal {
    padding: 5rem;
  }

  .modal-text textarea {
    width: 85%;
  }

  .nav-search {
    display: block;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    margin: 0;
    height: 1.7rem;
    border: 1px solid white;
    width: 60%;
    padding-left: 1rem;
    color: rgb(52 52 52);
  }

  .search-icon {
    margin: 0;
    width: 2rem;
    height: 1.7rem;
    background-color: rgb(14 97 206);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 0.4rem;
    display: block;
  }

  .login {
    background-color: var(--dark-color-a);
    width: 45%;
    border-radius: 3rem;
    color: white;
    padding: 3rem;
    box-shadow: 9px 9px 20px 1px rgb(0 0 0 / 88%);
  }

  .add-profile-button {
    width: 10%;
    padding-top: 9.5rem;
  }

  .upload-image {
    width: 20rem;
    height: 20rem;
  }

  .registration-photo {
    width: 20rem;
    height: 20rem;
  }

  .profile-image-upload {
    width: 20rem;
    height: 20rem;
  }

  .create-username,
  .create-password {
    margin: 0 12.5%;
  }
}
