@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

:root {
  --dark-color-a: #121d30;
  --dark-color-b: #454e5c;
  --light-blue: #2ec0f5;
  --highlight: #3fcfc1;
  --default: #fff;
}

body {
  background-color: var(--dark-color-b);
  font-family: "PT Sans", sans-serif;
}

.memory-form {
  padding: 0 5rem;
  height: 32rem;
  margin-top: 1.25rem;
}

.image-preview {
  width: 100%;
  height: 20rem;
  border-radius: 2rem;
  object-fit: fill;
  border: none;
}

.image-upload {
  margin-top: 1rem;
  height: 20rem;
  background-color: var(--default);
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="file"]::-webkit-file-upload-button {
  width: 100%;
  height: 5rem;
  border-radius: 5rem;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
}

.memory-button,
.event-button,
.form-submit button {
  background-color: var(--highlight);
  border-radius: 1.5rem;
  margin-top: 1rem;
  width: 40%;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border: none;
}

.location-form h3,
.caption-form h3,
.date-form h3 {
  width: 100%;
  text-align: center;
  color: var(--highlight);
  margin: 0.25rem 0;
  margin-top: 0.5rem;
}

.location-input,
.date-input {
  width: 90%;
  height: 2rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.date-input {
  width: 35%;
}

.caption-form textarea {
  width: 90%;
  height: 3.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.memory-form button:hover {
  cursor: pointer;
  background-color: rgb(8 143 130);
}

.clicked {
  box-shadow: inset 1px 1px 18px #333;
}

.white-button {
  margin-top: 1rem;
  width: 40%;
  height: 2.5rem;
  background-color: #fff;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 1rem;
}

/* Events */

.card {
  width: 100%;
  border-radius: 3rem;
  background-color: var(--dark-color-a);
  position: relative;
  margin-bottom: 2rem;
  box-shadow: 9px 9px 20px 1px rgb(0 0 0 / 66%);
  z-index: -1;
}

.event-image img {
  height: 18rem;
  width: 100%;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}

.event-date {
  height: 7.2rem;
  width: 7.2rem;
  background-color: var(--highlight);
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 14rem;
  margin-right: 3%;
  color: var(--default);
  box-shadow: inset 2px 0 10px #000;
}

.card .row h1 {
  padding: 0;
  margin-bottom: 0;
  margin-top: 1.25rem;
  font-size: 2.5rem;
}

.card-title {
  color: var(--default);
  display: flex;
  flex-wrap: wrap;
}

.card-title h2 {
  margin: 0;
  width: 100%;
  padding: 0.5rem 1rem;
}

.card-title h3 {
  padding-left: 0.25rem;
}

.nav-slider h3 {
  padding-top: 2rem;
  padding-left: 2rem;
}

.card .row h3 {
  margin: 0;
  font-size: 1.5rem;
}

.card-title h4,
.card-title h5 {
  margin: 0;
  padding: 0.25rem 1rem;
  color: var(--highlight);
  font-style: italic;
}

.extra-info,
.event-caption {
  padding: 1rem 1.5rem 1.25rem;
  color: var(--default);
}

.event-time,
.event-planning {
  flex-basis: 50%;
  color: var(--default);
  border: 1px solid var(--default);
  margin: 0;
  align-self: center;
  padding: 0.5rem;
}

.event-planning span {
  color: var(--highlight);
}

/* Nav Drawer */

.hamburger {
  font-size: 2rem;
  position: absolute;
  z-index: 1;
  padding: 1rem;
}

.nav-slider {
  position: fixed;
  width: 15rem;
  height: 100vh;
  background-color: white;
  transition: 0.5s all;
  z-index: 9000;
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.show-nav {
  transform: translateX(0);
}

.hide-nav {
  transform: translateX(-15rem);
}

.nav-background {
  background-color: rgb(50 50 50 / 86%);
  width: 100%;
  height: 100vh;
  position: absolute;
}

ul {
  list-style-type: none;
  margin-top: 1rem;
  padding-left: 0;
}

li {
  padding: 1rem 2rem;
}

li:hover {
  background-color: rgb(0 0 0 / 33.1%);
  cursor: pointer;
}

i:hover {
  color: rgb(51 165 175);
}

/* fk footer */
